USE [master]
GO
/****** Object:  Database [PADARIA_COM_ENTITYV2]    Script Date: 04/11/2015 22:53:49 ******/
CREATE DATABASE [PADARIA_COM_ENTITYV2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PADARIA_COM_ENTITYV2', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLSERVER\MSSQL\DATA\PADARIA_COM_ENTITYV2.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PADARIA_COM_ENTITYV2_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLSERVER\MSSQL\DATA\PADARIA_COM_ENTITYV2_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PADARIA_COM_ENTITYV2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PADARIA_COM_ENTITYV2]
GO
/****** Object:  StoredProcedure [dbo].[ScalarQuery]    Script Date: 04/11/2015 22:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ScalarQuery]
AS
	SET NOCOUNT ON;
SELECT prod.CODIGO as Código, prod.NOME as Nome, cat.NOME as Categoria, prod.Quantidade as 
Quantidade,  prod.QuantidadeMaxima - prod.Quantidade  as Comprar
FROM PRODUTO as prod inner join CATEGORIA cat on cat.ID = prod.CATEGORIA
WHERE (prod.Quantidade < ((prod.QuantidadeMaxima + prod.QuantidadeMinima) / 2))







GO
/****** Object:  Table [dbo].[Anomalias]    Script Date: 04/11/2015 22:53:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Anomalias](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDComanda] [int] NULL,
	[IDUsuario] [int] NULL,
	[Valor] [numeric](18, 2) NULL,
	[Data] [date] NULL,
	[Texto] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CAIXA]    Script Date: 04/11/2015 22:53:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAIXA](
	[VALOR] [numeric](18, 2) NULL,
	[IDUSUARIO] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CAIXA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 04/11/2015 22:53:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](20) NOT NULL,
 CONSTRAINT [PK__CATEGORI__3214EC27082CD865] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__CATEGORI__E2AB1FF4216EEED4] UNIQUE NONCLUSTERED 
(
	[NOME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 04/11/2015 22:53:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[CPF] [varchar](15) NOT NULL,
	[CELULAR] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [U_Cpf] UNIQUE NONCLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMANDA]    Script Date: 04/11/2015 22:53:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMANDA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [varchar](20) NOT NULL,
 CONSTRAINT [PK__COMANDA__3214EC272D6C4EDD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_Codigo] UNIQUE NONCLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Datas]    Script Date: 04/11/2015 22:53:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Datas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATA] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [U_Datas] UNIQUE NONCLUSTERED 
(
	[DATA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FIADO]    Script Date: 04/11/2015 22:53:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIADO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCLIENTE] [int] NOT NULL,
	[VALOR] [numeric](18, 2) NULL,
	[IDFUNCIONARIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[movimentacaoCaixa]    Script Date: 04/11/2015 22:53:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movimentacaoCaixa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[valor] [decimal](18, 2) NOT NULL,
	[Data] [date] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[movimentacaoProduto]    Script Date: 04/11/2015 22:53:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[movimentacaoProduto](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](20) NOT NULL,
	[Data] [date] NOT NULL,
	[Quantidade] [int] NULL,
	[Valor] [decimal](18, 2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUTO]    Script Date: 04/11/2015 22:53:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [varchar](20) NOT NULL,
	[NOME] [varchar](40) NOT NULL,
	[CATEGORIA] [int] NOT NULL,
	[PRECOCOMPRA] [numeric](18, 2) NOT NULL,
	[PRECOVENDA] [numeric](18, 2) NOT NULL,
	[DESCRICAO] [varchar](70) NULL,
	[PORCENTAGEM] [int] NULL,
	[Quantidade] [int] NULL,
	[QuantidadeMinima] [int] NULL,
	[QuantidadeMaxima] [int] NULL,
	[TipoCadastro] [int] NOT NULL,
	[GerenciarEstoque] [bit] NULL,
 CONSTRAINT [PK__PRODUTO__3214EC27D9FEE24A] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__PRODUTO__CC87E1262026B684] UNIQUE NONCLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__PRODUTO__CC87E1264113F848] UNIQUE NONCLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoCadastro]    Script Date: 04/11/2015 22:53:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoCadastro](
	[TipoCadastroID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](10) NOT NULL,
 CONSTRAINT [PK_TipoCadastro] PRIMARY KEY CLUSTERED 
(
	[TipoCadastroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPOPAGAMENTO]    Script Date: 04/11/2015 22:53:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[TIPOPAGAMENTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 04/11/2015 22:53:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](20) NOT NULL,
	[SENHA] [varchar](20) NOT NULL,
	[Permicao] [varchar](15) NULL,
	[UltimoAcesso] [varchar](20) NULL,
	[NomeCompleto] [varchar](50) NOT NULL,
 CONSTRAINT [PK__USUARIOS__3214EC2728AEC6C3] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__USUARIOS__E2AB1FF4416391EF] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VENDA]    Script Date: 04/11/2015 22:53:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDA](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[VENDATOTAL] [numeric](18, 2) NOT NULL,
	[LUCROTOTAL] [numeric](18, 2) NOT NULL,
	[DATA] [date] NOT NULL,
	[IDUSUARIO] [int] NULL,
	[IDTIPOPAGAMENTO] [int] NOT NULL,
 CONSTRAINT [PK__VENDA__3214EC272B73902C] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VendaComComandaAtiva]    Script Date: 04/11/2015 22:53:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendaComComandaAtiva](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPRODUTO] [int] NOT NULL,
	[IDCOMANDA] [int] NOT NULL,
	[QUANTIDADE] [int] NOT NULL,
	[PRECOTOTAL] [numeric](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Anomalias]  WITH CHECK ADD  CONSTRAINT [fk_Comanda] FOREIGN KEY([IDComanda])
REFERENCES [dbo].[COMANDA] ([ID])
GO
ALTER TABLE [dbo].[Anomalias] CHECK CONSTRAINT [fk_Comanda]
GO
ALTER TABLE [dbo].[Anomalias]  WITH CHECK ADD  CONSTRAINT [fk_Usuario] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[Anomalias] CHECK CONSTRAINT [fk_Usuario]
GO
ALTER TABLE [dbo].[CAIXA]  WITH CHECK ADD  CONSTRAINT [FK__CAIXA__IDUSUARIO__72C60C4A] FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[CAIXA] CHECK CONSTRAINT [FK__CAIXA__IDUSUARIO__72C60C4A]
GO
ALTER TABLE [dbo].[FIADO]  WITH CHECK ADD FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[FIADO]  WITH CHECK ADD  CONSTRAINT [FK__FIADO__IDFUNCION__75A278F5] FOREIGN KEY([IDFUNCIONARIO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[FIADO] CHECK CONSTRAINT [FK__FIADO__IDFUNCION__75A278F5]
GO
ALTER TABLE [dbo].[PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK__PRODUTO__CATEGOR__76969D2E] FOREIGN KEY([CATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([ID])
GO
ALTER TABLE [dbo].[PRODUTO] CHECK CONSTRAINT [FK__PRODUTO__CATEGOR__76969D2E]
GO
ALTER TABLE [dbo].[PRODUTO]  WITH CHECK ADD  CONSTRAINT [Fk_TipoCadastro] FOREIGN KEY([TipoCadastro])
REFERENCES [dbo].[TipoCadastro] ([TipoCadastroID])
GO
ALTER TABLE [dbo].[PRODUTO] CHECK CONSTRAINT [Fk_TipoCadastro]
GO
ALTER TABLE [dbo].[VENDA]  WITH CHECK ADD  CONSTRAINT [chave_estrangeira_TipoPagamento] FOREIGN KEY([IDTIPOPAGAMENTO])
REFERENCES [dbo].[TIPOPAGAMENTO] ([ID])
GO
ALTER TABLE [dbo].[VENDA] CHECK CONSTRAINT [chave_estrangeira_TipoPagamento]
GO
ALTER TABLE [dbo].[VENDA]  WITH CHECK ADD  CONSTRAINT [FK__VENDA__IDUSUARIO__787EE5A0] FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[VENDA] CHECK CONSTRAINT [FK__VENDA__IDUSUARIO__787EE5A0]
GO
ALTER TABLE [dbo].[VendaComComandaAtiva]  WITH CHECK ADD  CONSTRAINT [FK__VendaComC__IDCOM__797309D9] FOREIGN KEY([IDCOMANDA])
REFERENCES [dbo].[COMANDA] ([ID])
GO
ALTER TABLE [dbo].[VendaComComandaAtiva] CHECK CONSTRAINT [FK__VendaComC__IDCOM__797309D9]
GO
ALTER TABLE [dbo].[VendaComComandaAtiva]  WITH CHECK ADD  CONSTRAINT [FK__VendaComC__IDPRO__7A672E12] FOREIGN KEY([IDPRODUTO])
REFERENCES [dbo].[PRODUTO] ([ID])
GO
ALTER TABLE [dbo].[VendaComComandaAtiva] CHECK CONSTRAINT [FK__VendaComC__IDPRO__7A672E12]
GO
USE [master]
GO
